# Entorno virtual
venv/

# Archivos de configuración de Python
*.pyc
__pycache__/

# Archivos de base de datos
*.sqlite3

# Archivos de migraciones
*/migrations/*.pyc
*/migrations/__pycache__/

# Archivos de logs
*.log

# Archivos de configuración de VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de media y estáticos generados
/media/
/staticfiles/

# Archivos de entorno
.env